@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 100;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 200;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 300;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 400;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 500;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
}
@font-face {
    font-family: "Raleway";
    src: url('raleway.woff2') format('woff2');
    font-weight: 900;
    font-style: bold;
}